bin/
obj/
runs/
cache/

mathematica/plots/
mathematica/stats*

build/
plots/
backup/
plots/
*.dat
mathematica/notebooks/eigenvalues_2_diff_init.nb
mathematica/notebooks/eigenvalues_2_diff_init.wls
mathematica/notebooks/eigenvalues_hist.nb
mathematica/notebooks/eigenvalues.nb
mathematica/notebooks/SidebySideComparison.pdf
mathematica/notebooks/SuperimposedComparison.pdf

boost*

# From https://github.com/github/gitignore/blob/main/Global/macOS.gitignore

# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[
]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk